cfgv==3.5.0
colorama==0.4.6
distlib==0.4.3
filelock==4.0.6
identify==2.6.20
iniconfig==2.3.0
nodeenv==1.11.0
packaging==26.3
platformdirs==4.12.1
pluggy==1.6.0
pre_commit==4.6.2
Pygments==2.21.0
pytest==9.1.1
python-discovery==1.6.1
PyYAML==6.0.3
ruff==0.16.9
virtualenv==21.13.0
